body {
  margin: 0px 0px;
}

/*div wrapper for title page*/
#title {
  background-color: #c0dfd9;
  width: 100%;
  height: 600px;
}

#greetingFormat {
  display: table-cell;
  vertical-align: middle;
}

#greeting {
  font-size: 100px;
  font-family: "Josefin Slab", serif;
  color: white;
  text-align: center;
}

#shortDescription {
  color: white;
  font-family: "Josefin Sans", serif;
  font-size: 25px;
  text-align: center;
}

/*controls all of the major sections*/
.wrap {
  height: 750px;
  display: table;
}

/*take out margin of name header*/
.wrap h1 {
  margin: 0px;
}

div .floatLeft {
  float: left;
  width: 15%;

}

div .floatRight {
  float: right;
  width: 85%;

}

img {
  height: 300px;
  width: 200px;
}

div #AboutMe {
  background: #3b3a36;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
}

div #AboutMe h3 {
  text-align: center;
  line-height: 700px;
  color: white;
  font-family: "Josefin Slab", serif;
  font-size: 25px;
}

#jasminePic {
  height: 200px;
  width: 200px;
  margin: auto;
  display: block;
  margin-top: 3%;
  border-radius: 50%;
}

p {
  font-family: "Josefin Sans", serif;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
  text-align: center;
}

#AboutMeContent div {
  width: 50%;
  margin: 0 auto;
  background-position: center;
  text-align: center;

}

#cat {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#dog {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
/*
body {
  margin: 0px 200px;
  margin-top: 0px;
  font-family: "Georgia", Times, sans-serif;
}

div {
  height: 500px;
  image taken from https://fineartamerica.com/featured/1-san-francisco-skyline-in-watercolor-background-pablo-romero.html
  margin-top: 0px;
  background-image: url("images/SFBackgroundEdited.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h2 {
  margin-top: 0;
}

section {
  font-size: 18px;
  margin: 50px 0px;
}

.title {
  padding-top: 100px;
  font-family: "Papyrus", "Harrington", fantasy;
  font-size: 75px;
  text-align: center;
}

#jasminePic {
  height: 250px;
  width: 200px;
  margin-right: 50px;
  float: left;
}

#tori {
  height: 300px;
  width: 200px;

}

#nara {
  height: 200px;
  width: 300px;
  margin-top: 75px;
}

#kinkakuji {
  height: 300px;
  width: 200px;
}

.travelPics{
  margin: 25px 30px;
  border: 6px solid #A9A9A9;
  float: left;
}
*/
