html, body, section {
  margin: 0px;
  padding: 0px;
}

/*hide dropdowns till small enough screen*/
.dropdownLinks {
  display: none;
}

.dropbtn {
  display: none;
}

.closebtn {
  display: none;
}

/*navigation bar*/
.nav {
  background-color: #D31B52;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: flex-end;
}

.nav ul {
  list-style: none;
  background-color: #D31B52;
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 1.2em;
  float: left;
}

.nav li {
  font-family: 'Autour One', cursive;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  float: left;
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  transition: .3s;
  padding: .5em 1em;
}

.nav a:hover {
  background-color: #1A1A1D;
}


/*greting panel*/
#greetingFormat {
  background-color: #1A1A1D;
  padding: 7rem;
}

h3 {
  font-family: 'Barrio', cursive;
  font-size: 4em;
}

/*greeting words*/
#greeting {
  font-family: 'Barrio', cursive;
  font-size: 6em;
  color: #C3073F;
}

#shortDescription {
  font-size: 2.3em;
  font-family: 'Autour One', cursive;
  color: white;
}

/*hobbies and fun facts sections*/
#interestIntro, #funFactsContent {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;

}

/*photos section*/
#work {
  background-color: #1A1A1D;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap {
  display: flex;
}

.floatLeft {
  background-color: #c0dfd9;
  flex: 1;
  padding: 1rem;
  text-align: center;
  flex: 30%;
}

.floatRight {
  flex: 1;
  padding: 3rem;
  line-height: 1.6;
  flex: 70%;
}

p, ul {
  font-size: 1.2em;
  font-family: 'Autour One', cursive;
}


#AboutMe {
  background-color: #C3073F;
  color: white;
}

img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#photosContent {
  padding: 3rem;
  margin: 0;

}

#jasminePic {
  border-radius: 50%;
  height: 12rem;
  width: auto;
  padding: 0;
}

#funFacts {
  background-color: #C3073F;
  color: white;
}

@media only screen and (max-width: 700px) {

  .wrap {
    flex-direction: column;
  }

  /*make all divs full width; stacked*/
  .div {
    width: 100%;
  }

  /*hide horizontal nav bar*/
  .nav {
    display: none;
  }

  /*button to open dropdown*/
  .dropbtn {
    background-color: #1A1A1D;
    color: white;
    padding: 12px;
    border: 3px solid #D31B52;
    border-radius: 25%;
    font-family: 'Autour One', cursive;
    position: fixed;
    display: inline-block;
    top: 2rem;
    left: 1rem;
    font-size: 1.5rem;
  }

  /*button changes color upon hover to open dropdown*/
  .dropbtn:hover {
    cursor: pointer;
    background-color: #D31B52;
  }

  .dropdown {
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #1A1A1D; /* Dark Brown color */
    overflow-y: hidden;

  }

  .dropdownLinks {
    position: relative;
    top: 0%;
    width: 100%; /* 100% width */
    text-align: center; /* Centered links */
    margin-top: 0px;
    display: block;
  }

  /* Links inside the dropdown */
  .dropdown a {
      color: white;
      padding: 8px;
      text-decoration: none;
      display: block;
      font-family: 'Autour One', cursive;
      transition: 0.3s;
      font-size: 36px;
      line-height: 2em;
  }

  /* Change color of dropdown links on hover */
  .dropdownLinks a:hover, .dropdownLinks a:focus {background-color: #C3073F}

  .dropdown .closebtn {
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 100px;
      color: #C3073F;

  }

  /*changes size of greeting*/
  #greetingFormat {
    font-size: .7rem;
  }


}
